/**
 * This file was auto-generated by Fern from our API Definition.
 */
import { AdboioApi } from "../../../..";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization";
import * as core from "../../../../core";
import * as errors from "../../../../errors";
export class Box {
    options;
    constructor(options) {
        this.options = options;
    }
    /**
     * Create a new box
     * @throws {AdboioApi.BoxNotFoundError}
     */
    async createBox(request) {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, "/api/box"),
            method: "POST",
            body: await serializers.CreateBoxRequest.jsonOrThrow(request),
        });
        if (_response.ok) {
            return await serializers.BoxId.parseOrThrow(_response.body, {
                allowUnknownKeys: true,
            });
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AdboioApi.BoxNotFoundError(await serializers.BoxId.parseOrThrow(_response.error.body, {
                        allowUnknownKeys: true,
                    }));
                default:
                    throw new errors.AdboioApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                    });
            }
        }
        switch (_response.error.reason) {
            case "non-json":
                throw new errors.AdboioApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.AdboioApiTimeoutError();
            case "unknown":
                throw new errors.AdboioApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
    /**
     * get box by ID
     */
    async getBox(id) {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment, `/api/box/${await serializers.BoxId.jsonOrThrow(id)}`),
            method: "GET",
        });
        if (_response.ok) {
            return await serializers.Box.parseOrThrow(_response.body, {
                allowUnknownKeys: true,
            });
        }
        if (_response.error.reason === "status-code") {
            throw new errors.AdboioApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }
        switch (_response.error.reason) {
            case "non-json":
                throw new errors.AdboioApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.AdboioApiTimeoutError();
            case "unknown":
                throw new errors.AdboioApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
